<header class="navbar navbar-default navbar-fixed-top" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a ui-sref="index" class="navbar-brand">Main page</a>
            <!--<%= link_to 'Main page', phrases_path ,{:class=>"navbar-brand"}%>-->
        </div>
        <ul class="nav navbar-nav">
                <li><a ui-sref="home">Get start</a></li>
        </ul>
        <nav class="collapse navbar-collapse" role="navigation">            
            <div class="collapse navbar-collapse pull-right" >
                <ul class="nav navbar-nav">
                    <li ng-if="!user.signedIn"><a ui-sref="sign_in">Log In</a></li>
                    <li ng-if="!user.signedIn"><a ui-sref="sign_up">Register</a></li>
                    <li ng-if="user.signedIn"><a href="#">{{user.email}}</a></li>
                    <li ng-if="user.signedIn"><a href="#" ng-click='signOut()'>Log Out</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>
