<div class="conteiner">
    <div class="row text_center">
        <div class="col-md-4 offset-md-4 text-center">
            <form role="form" name="registrationForm" ng-submit="handleRegBtnClick()" ng-init="registrationForm = {}">
                <div class="form-group">
                    <label>email</label>
                    <input type="email" name="email" ng-model="email" required="required"
                           class="form-control"/>
                </div>

                <div class="form-group">
                    <label>password</label>
                    <input type="password" name="password" ng-model="password" required="required"
                           class="form-control" minlength="8"/>
                </div>

                <button ng-disabled="registrationForm.$invalid" class="btn btn-primary btn-lg">Register</button>
            </form>
        </div>
    </div>
</div>
